<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">

    <!--Favicon Styles-->
    <link rel="apple-touch-icon" sizes="180x180" href="https://studia.blue/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://studia.blue/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://studia.blue/images/favicon-16x16.png">
    <link rel="mask-icon" href="https://studia.blue/images/safari-pinned-tab.svg" color="#2192ff">
    <link rel="shortcut icon" href="https://studia.blue/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#2192ff">
    <meta name="msapplication-config" content="https://studia.blue/images/browserconfig.xml">
    <meta name="theme-color" content="#2192ff">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/vs2015.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="원촌중학교,studia,스튜디아,App Developers,자율동아리">

    <link rel="stylesheet" href="/assets/blogpost/style.css">
    <script defer src="/assets/blogpost/script.js"></script>

    <meta property="og:title" content="스튜디아 - 노트 정리도 스마트하게!">
    <meta property="og:description" content="스튜디아 노트를 작성하며 매일 배운 내용을 복습해 보세요.">
    <meta property="og:image" content="https://studia.blue/images/profile.jpg">

    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="description" content="{{ page.description }}">

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "NewsArticle",
            "headline": "{{ page.title }}",
            "datePublished": "{{ page.date | date_to_xmlschema }}",
            "dateModified": "{{ page.date | date_to_xmlschema }}",
            "author": {
                "@type": "Person",
                "name": "{{ page.author }}"
            }
        }
        }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9DWPCCV3R0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-9DWPCCV3R0');
    </script>

    <!-- AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4492852834951301"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="navbar">
        <button class="nav_hamburger center">
            <div>
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </button>
        <a class="nav_home" href="https://studia.blue/">studia</a>
        <a class="nav_app" href="https://studia.blue/app/">앱 열기</a>
    </div>

    <div id="sidenav">
        <button id="close_nav">&times;</button>
        {% include sidebar.html %}
    </div>

    <div class="body_wrap">
        <div class="body">
            <div class="header">
                <div class="titletopbar">
                    <p class="location"><a href="https://blog.studia.blue">블로그</a> &gt;
                        <a id="location" href="/category/{{ page.categories }}">{{ page.categories }}</a>
                    </p>
                </div>
                <h1 id="title">{{ page.title }}</h1>
                <h2 id="subtitle">{{ page.description }}</h2>
                <div class="share">
                    <a class="shareLink copyBtn center" href="javascript:copyURLToClipboard();"><i
                            class="fas fa-link"></i></a>
                    <a class="shareLink shareBtn center" href="javascript:share();"><i class="fas fa-share-alt"></i></a>
                    <a class="shareLink mailBtn center" href="mailto:{{ page.email }}" id="mail"><i
                            class="fas fa-envelope"></i></a>
                    <a class="shareLink printBtn center" href="javascript:window.print();"><i
                            class="fas fa-print"></i></a>
                </div>
                <div class="author">
                    <img class="profileimg" src="/assets/blogpost/profile.png" alt="Profile Image">
                    <div class="author_info">
                        <p class="author_name">작성자 <a id="author" href="mailto:{{ page.email }}">{{ page.author }}</a>
                        </p>
                        <p id="author_date">{{ page.date | date: "%Y/%m/%d" }}</p>
                    </div>
                </div>
                <hr class="divider">

                <div hidden id="fuckyou" class="fuckyou">
                    <p>AdBlock을 비활성화해 주시면 사이트 운영에 도움이 됩니다.</p>
                </div>

                <div id="article">
                    {{ content }}
                </div>
                <hr class="divider">
                <p class="followus">우리는 중학교 1학년 자율동아리입니다. 저희 앱이 궁금하시다면 <a class="followus_link"
                        href="https://studia.blue">www.studia.blue</a>를 방문해 보세요.</p>

                <script src="https://utteranc.es/client.js" repo="AppDevelopers2021/studiaBlog" issue-term="pathname"
                    label="comment" theme="github-light" crossorigin="anonymous" async>
                </script>
            </div>
        </div>


        <footer class="vertical">
            <div>
                <p class="footer_logo">studia</p>
                <p class="footer_sosumi">Copyright &copy; 2021-2022 App Developers.<br>All Rights Reserved.</p>
            </div>

        </footer>
</body>

</html>